<section class="sponsoring container typeset">
    <p>This project is funded by:</p>
    <a href="https://prototypefund.de/en" title="A Prototypefund Project">
      <img src="/assets/PrototypeFund-P-Logo.svg" alt="Logo of the Prototypefund">
    </a>
    <a href="https://okfn.de/en" title="Open Knowledge Foundation Deutschland e.V.">
      <img src="/assets/okfn.svg" alr="Logo of the Open Knowledge Foundation Deutschland e.V.">
    </a>
    <a href="https://bmbf.de/en" title="Sponsored by the German Federal Ministry of Education and Research">
      <img src="/assets/BMBF_gefoerdert_2017_en.svg" alt="Sponsored by the German Federal Ministry of Education and Research">
    </a>
</section>